{% extends "base.njk" %}

{% block title %}Archives | {{ site.siteName }}{% endblock %}

{% block content %}
<main>
    <article>
        <h1>Archives</h1>
        {% set grouped = collections.billets | groupByYear %}
        {% for group in grouped %}
            {% set year = group[0] %}
            {% set articles = group[1] %}
            <h2>{{ year }} ({{ articles | length }} billets)</h2>
            <ul class="nolist">
            {% for article in articles %}
                <li><a href="{{ article.url }}"><strong>{{ article.data.title }}</strong> — {{ article.date | strftime('%d-%m-%Y') }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
    </article>
</main>
{% endblock %}
