{% extends "base.njk" %}

{% block html_lang %}fr{% endblock %}

{% block head %}
{{ super() }}
{% if summary %}
<meta name="description" content="{{ summary | striptags | truncate(150) }}" />
{% endif %}
{% endblock head %}

{% block title %}{{ title | striptags }} | {{ site.siteName }}{% endblock title %}

{% block content %}

<main>
    <section>
      <p>{{ date | strftime('%d-%m-%Y') }}
      {% set reactionCount = webmentions | countWebmentions(page.url, site.siteUrl) %}
      {% if reactionCount > 0 %}
      — <a href="#webmentions">{{ reactionCount }} {% if reactionCount > 1 %}réactions{% else %}réaction{% endif %}</a>
      {% else %}
      — 0 réaction
      {% endif %}
      </p>
    </section>
    <article>
      <h1>{{ title }}</h1>

      {{ content | safe }}

      <hr />

      {% include "webmentions.njk" %}

      <section>
          <aside>
          <a href="mailto:nicolas@loeuillet.org?subject={{ title | striptags | urlencode }}">Réagir par mail au billet <strong>«&nbsp;{{ title | striptags }}&nbsp;»</strong></a>.<br />
          {% if site.webmentionDomain %}
          Vous pouvez aussi réagir via webmention en mentionnant cette page sur Mastodon ou votre blog.
          {% endif %}
          {% if page.inputPath %}
          <br />Si vous constatez une coquille dans ce billet, vous pouvez <a href="{{ site.githubRepo }}/blob/{{ site.githubBranch }}/{{ page.inputPath | cleanPath }}">proposer une correction ici</a>.
          {% endif %}<hr />
          </aside>
      </section>

    </article>
</main>

{% endblock content %}
