{% extends "base.njk" %}

{% block html_lang %}fr{% endblock %}

{% block head %}
{{ super() }}
{% if summary %}
<meta name="description" content="{{ summary | striptags | truncate(150) }}" />
{% endif %}
{% endblock %}

{% block title %}{{ title | striptags }} | {{ site.siteName }}{% endblock %}

{% block content %}

<main>
    <section>
      <p>{{ date | strftime('%d-%m-%Y') }}</p>
    </section>
    <article>
      <h1>{{ title }}</h1>

      {{ content | safe }}

      <hr />

      <section>
          <aside>
          <a href="mailto:nicolas@loeuillet.org?subject={{ title | striptags | urlencode }}">Réagir par mail au billet <strong>«&nbsp;{{ title | striptags }}&nbsp;»</strong></a>. 
          {% if page.inputPath %}
          Si vous constatez une coquille dans ce billet, vous pouvez <a href="{{ site.githubRepo }}/blob/{{ site.githubBranch }}/{{ page.inputPath | cleanPath }}">proposer une correction ici</a>.
          {% endif %}<hr />
          </aside>
      </section>

    </article>
</main>

{% endblock %}
