{% extends "base.njk" %}

{% block head %}
{{ super() }}
{% if site.social %}
{% for item in site.social %}
{% if item.url %}
<link rel="me" href="{{ item.url }}" />
{% endif %}
{% endfor %}
{% endif %}
{% endblock head %}

{% block content %}

{% if not category and not tag %}
<main data-pagefind-ignore>
  <article>
    <h1>{{ site.siteName }}</h1>
    {% if site.subtext %}
      {{ site.subtext | safe }}
    {% endif %}
  </article>
</main>
{% endif %}

{% endblock %}
