{% extends "base.njk" %}

{% block head %}
{{ super() }}
{% if site.social %}
{% for item in site.social %}
{% if item.url %}
<link rel="me" href="{{ item.url }}" />
{% endif %}
{% endfor %}
{% endif %}
{% endblock head %}

{% block content %}

{% if not category and not tag %}
<main data-pagefind-ignore>
  <article>
    <h1>{{ site.siteName }}</h1>
    {% if site.subtextBefore %}
      {{ site.subtextBefore | safe }}
    {% endif %}
    {% if photos and photos.length > 0 %}
    <section class="photos">
      <div class="photos-grid">
        {% for photo in photos %}
        <a href="{{ photo.url }}" title="{{ photo.title }}" class="photo-thumbnail">
          <img src="{{ photo.imageUrl }}" alt="{{ photo.title }}" loading="lazy" />
        </a>
        {% endfor %}
      </div>
    </section>
    {% endif %}
    {% if site.subtextAfter %}
      {{ site.subtextAfter | safe }}
    {% endif %}
  </article>
</main>
{% endif %}

{% endblock content %}
