{% extends "base.njk" %}

{% block title %}{{ title }} | {{ site.siteName }}{% endblock %}

{% block content %}

<main>
    <article>
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </article>
</main>

{% endblock %}
