{% extends "base.njk" %}

{% block title %}{{ title }} | {{ site.siteName }}{% endblock %}

{% block content %}

<main{% if page.url == '/404.html' %} data-pagefind-ignore{% endif %}>
    <article>
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </article>
</main>

{% endblock %}
