{% extends "base.njk" %}

{% block title %}Billets sans tag | {{ site.siteName }}{% endblock title %}

{% block content %}
<main data-pagefind-ignore>
    <article>
        <h1>Billets sans tag</h1>
        {% set billetsSansTags = collections.billets | filterWithoutTags %}
        {% if billetsSansTags and billetsSansTags.length > 0 %}
        {% set grouped = billetsSansTags | groupByYear %}
        {% for group in grouped %}
            {% set year = group[0] %}
            {% set articles = group[1] %}
            <h2>{{ year }} ({{ articles | length }} {% if articles | length > 1 %}billets{% else %}billet{% endif %})</h2>
            <ul class="nolist">
            {% for article in articles %}
                <li>
                    <a href="{{ article.url }}"><strong>{{ article.data.title }}</strong></a>
                    {% set reactionCount = webmentions | countWebmentions(article.url, site.siteUrl) %}
                    <span class="reaction-count">({% if reactionCount > 0 %}<a href="{{ article.url }}#webmentions">{{ reactionCount }} {% if reactionCount > 1 %}réactions{% else %}réaction{% endif %}</a>{% else %}0 réaction{% endif %})</span>
                    — {{ article.date | strftime('%d-%m-%Y') }}
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
        {% else %}
        <p>Tous les billets ont au moins un tag.</p>
        {% endif %}
    </article>
</main>
{% endblock content %}
