{% extends "base.html" %}

{% block title %}Archives | {{ SITENAME }}{% endblock %}
{% set current = "archive" %}

{% block content %}

<main>
    <article>
        <h1>Archives</h1>
        {% for year, articles in articles|groupby('date.year')|reverse %}
            <h2>{{ year }} ({{ articles|length }} billets)</h2>
            <ul class="nolist">
            {% for article in articles %}
                <li><a href="{{ SITEURL }}/{{ article.url }}"><strong>{{ article.title}}</strong> — {{ article.date|strftime('%d-%m-%Y') }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
    </article>
</main>

{% endblock %}
