{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block head -%}
{{ super() -}}
{% if article.summary %}
<meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
{% endif %}
{% endblock %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}
{% endblock %}

{% block content %}

<main>
    <section>
        <p>
        {% if article.date.day == 1 %}
            {{ article.date|strftime('%A 1er %B %Y') }}
        {% else %}
            {{ article.date|strftime('%A %d %B %Y') }}
        {% endif %}
        </p>
    </section>
    <article>
      <h1>{{article.title}}</h1>

      {{ article.content }}

        <section>
            <aside><a href="mailto:nicolas@loeuillet.org">Réagir par mail</a></aside>
        </section>

    </article>
</main>

{% endblock %}
