{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block head %}
{{ super() }}
{% if article.description %}
<meta name="description" content="{{ article.description }}" />
{% endif %}
{% for tag in article.tags %}
<meta name="tags" content="{{ tag }}" />
{% endfor %}
{% endblock %}
{% block content %}

<main>
    <article class="h-entry">
        <h1 class="p-name">{% if article.category.name == 'veille' %}Lu ailleurs : {% endif %}{{ article.title }} </h1>
        <a class="u-url" href="{{ article.url }}" rel="bookmark" title="{{ article.title }}"> </a>
        <aside>
            <ul>
                <li>
                    Publié le <time class="dt-published" datetime="{{ article.date }}">{{ article.date|strftime('%d') }} <a href="{{ SITEURL }}/{{ ROOT_POSTS }}/{{ article.date|strftime('%Y') }}/{{ article.date|strftime('%m') }}">{{ article.date|strftime('%b') }}</a> <a href="{{ SITEURL }}/{{ ROOT_POSTS }}/{{ article.date|strftime('%Y') }}">{{ article.date|strftime('%Y') }}</a></time>
                </li>
            </ul>
        </aside>
        <div class="e-content">
          {{ article.content }}
        </div>
        {% if article.category.name == 'veille' %}<p>Source : <a href="{{ article.source }}">{{ article.title }}</a> ({{ article.source.rpartition("//")[-1].partition("/")[0] }})</p>{% endif %}
    </article>

    <section class="post-nav">
        <div id="left-page">
          <div id="right-link">
              {% if article.prev_article %}
              Billet plus ancien : <a href="{{ SITEURL }}/{{ article.prev_article.url }}">{{ article.prev_article.title }} </a>
              {% endif %}
          </div>
        </div>
    </section>
</main>
{% endblock %}
