{% extends "base.html" %}
{% block content %}
    <main>
        <section id="list">
            <ul>
              {% set new = namespace(p=0) %}
                {% for article in articles_page.object_list if article.category != "veille" %}
                  {% set period = article.date | strftime('%Y') %}
                  {% if period != new.p %}
                      <h2><a href="{{ SITEURL }}/{{ ROOT_POSTS }}/{{ period }}">{{ period }}</a></h2>
                      <li>
                          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                          <time>{{ article.date|strftime('%d %b %Y') }}</time>
                      </li>
                      {% set new.p = article.date | strftime('%Y') %}
                  {% elif period == new.p %}
                      <li>
                          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                          <time>{{ article.date|strftime('%d %b %Y') }}</time>
                      </li>
                  {% endif %}
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock content %}
